{% extends 'base.html.twig' %}

{% block title %}Edit FotoRuta{% endblock %}

{% block body %}
    <h1>Edit FotoRuta</h1>

    {{ include('foto_ruta/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_foto_ruta_index') }}">back to list</a>

    {{ include('foto_ruta/_delete_form.html.twig') }}
{% endblock %}
